
.container{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;

    border-radius: 30px;
    /* background-color: var(--main-bg-color); */
    /* flex-grow: 1; */
    gap: 30px;
}

.mainContainer{
    width: 960px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: auto;

}

.mainTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    /* Apply styles only on screens up to 768px wide (typical for mobile devices) */
    .container {
      flex-direction: column; /* Stack sections in one column on mobile */
    }

    .mainContainer {
      width: auto; /* Full width on mobile */
      padding: 20px;
    }
  }