.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  max-width: 760px;
  width: 100%;
  padding: 0 15px; /* Adjust padding for mobile responsiveness */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-right: 1rem;
}

.navLinks a {
  text-decoration: none;
  color: var(--link-color);
}

.navLinks a:hover {
  color: var(--link-hover-color);
}

/* Apply styles to active link if needed */
.navLinks a.active {
  color: var(--link-hover-color);
}

/* Mobile Styles */
@media only screen and (max-width: 760px) {
  .container {
    flex-direction: column; /* Change flex direction to column for small screens */
    align-items: flex-start; /* Adjust alignment for column layout */
    padding: 15px;
  }

  .navLinks {
    margin-top: 10px; /* Add margin between logo and navLinks */
  }

  .navLinks li {
    margin-right: 0; /* Remove margin between navLinks items */
    margin-bottom: 10px; /* Add margin between navLinks items */
  }
}
