.footer {    
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    height: 80px;

  }
  
  .container { 
    max-width: 760px;
    width: 100%; /* Add this line to make the container take full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }