.footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}

.link {
  color: var(--link-hover-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
