:root {
  --main-bg-color: #02083d; /* Deep Blue Background Color */
  --text-color: #ffffff; /* White Text Color */
  --link-color: #ffffff; /* White Link Color */
  --link-hover-color: #ffcc00; /* Yellow Link Hover Color */
  --header-bg-color: #02083d;
  --main-bg-bg-color: #010314;
  /* --main-bg-color: #001f3f;  */

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background-color: var(--main-bg-bg-color) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
